# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Environments
.env
.venv
env/
venv/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Data / large files
real_videos/
robot/
dataset/
*.mp4
*.hdf5

# Training outputs
output/
ckpt/

# Logs
*.log
wandb/

# Jupyter
.ipynb_checkpoints/
